#!/usr/bin/make -f
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

DESTDIR=$(CURDIR)/debian/freebsd-manpages
VER=8.4

build: build-arch build-indep
build-arch: build-stamp
build-indep: build-stamp

# make update -f debian/rules
update:
	rm -f manpages.a?
	lftp -e 'mget manpages.a?;exit' ftp://ftp.freebsd.org/pub/FreeBSD/releases/i386/$(VER)-RELEASE/manpages/
	cat manpages.a? > ../freebsd-manpages_$(VER).orig.tar.gz

build-stamp:
	dh_testdir
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	cp -r share/man/man2 $(DESTDIR)/usr/share/man/
	cp    share/man/man3/sysctl.3.gz $(DESTDIR)/usr/share/man/man3/sysctl.3freebsd.gz
	cp -r share/man/man4 $(DESTDIR)/usr/share/man/
	mv $(DESTDIR)/usr/share/man/man4/i386/* $(DESTDIR)/usr/share/man/man4/
	rm -rf $(DESTDIR)/usr/share/man/man4/i386/
	cp -r share/man/man9 $(DESTDIR)/usr/share/man/
	for section in 2 4 9; do \
	    for path in $(DESTDIR)/usr/share/man/man$${section}/*; do \
	        file=`basename $${path}`; \
	        base=`basename $${path} .gz`; \
	        suffix=`echo $${file} | sed -e s/$${base}//`; \
	        echo moving freebsd manpage to subsection freebsd man$${section}/$${base}freebsd$${suffix}; \
	        mv $(DESTDIR)/usr/share/man/man$${section}/$${file} $(DESTDIR)/usr/share/man/man$${section}/$${base}freebsd$${suffix} || exit 1; \
	    done \
	done

binary-arch: build install

binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installman
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
